/.vs
/test/x64/
/x64/
/spell-checker.vcxproj.user
/test/test.vcxproj.user
/test/out/
/CMakeFiles/
/spell-checker-cm.dir/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/Debug/
/test/test.dir/
/spell-checker-cm.sln
/spell-checker-cm.vcxproj
/spell-checker-cm.vcxproj.filters
/test/ALL_BUILD.vcxproj
/test/ALL_BUILD.vcxproj.filters
/test/cmake_install.cmake
/test/CMakeFiles/
/test/
