/.vs
/test/x64/
/x64/
/spell-checker.vcxproj.user
/test/test.vcxproj.user
/test/out/
/CMakeFiles/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/Debug/
/test/test.dir/
/test/ALL_BUILD.vcxproj
/test/ALL_BUILD.vcxproj.filters
/test/cmake_install.cmake
/test/CMakeFiles/
Makefile
spell-checker
/spell-checker.dir
/Release/
/spell-checker.sln
/spell-checker.vcxproj
/spell-checker.vcxproj.filters
/test/Debug/
/test/Release/
/test/test.vcxproj
/test/test.vcxproj.filters
